<!DOCTYPE html>
<html>
    <body>
<center>
    <h1>IRIS FLOWER PREDICTION</h1>


    <form method="POST", action = "{{url_for('home')}}">
        <b>Sepal Length : <input name = 'a',type = "text", placeholder = "enter1" ><br><br>
            Sepal Width : <input name = 'b',type = "text",placeholder = "enter2" ><br><br>
            Petal Length : <input name = 'c',type ='text',placeholder = "enter3" ><br><br>
            Petal Width : <input name = 'd',type='text',placeholder = "enter4" ><br><br></b>
            <input type = "submit",value = "predict" >

    </form>
</center>
</body>
</html>
