<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IRIS FLOWER PREDICTION</title>
</head>
<body>
<center>
    <form method="post", action = {{url_for('home')}}>
        <b>Sepal Length : <input type = 'text',name = 'a',placeholder = "enter1" ><br><br>
            Sepal Width : <input type = 'text',name = 'b',placeholder = "enter2"><br><br>
            Petal Length : <input type = 'text',name = 'c',placeholder = "enter3"><br><br>
            Petal Width : <input type = 'text',name = 'd',placeholder = "enter4"><br><br>


        </b>
        <input type = "submit" ,value = 'Predict!'>

    </form>
</center>
</body>
</html>